@font-face {
	font-family: "font-1";
	src: url('../assets/font/PassionOne-Bold.ttf');
}
@font-face {
	font-family: "font-2";
	src: url('../assets/font/PassionOne-Regular.ttf');
}
main span a {
   text-decoration: none;
  color: rgb(44 44 44);
}
main span {
  height: 90px;
  position: absolute;
  right: 130px;
  bottom: 9vw;
  text-align: center;
  list-style-type: none;
  font-size:1.5em;
  color: rgb(44 44 44);
  outline: 2px outset rgb(44 44 44);
  background-color: rgb(230 230 230);
  background-size: 0;
  font-family : "font-1", sans-serif;
  box-shadow: 0px 0px 7px 5px #8c68c7;
  animation: apparition 0.8s ease-out;
}
main span:hover {
  background-color: #8c68c7bd;
	transition: .2s all;
}
.encadrer-contenu { 
  border: 1px solid black;
  padding: 5px; 
  box-shadow: 0px 0px 7px 5px #8c68c7;
}
.position1 {
  left: 90px;
	top: 30vw;
	position:  absolute;
}
.position2 {
  left: 90px;
	top: 35vw ; 
	position:  absolute;
}
main ul{
  padding: 50px 0;
}
main ul li{
  text-align: center;
  list-style-type: none;
  font-size:1.5em;
  color: rgb(44 44 44);
  outline: 2px outset rgb(44 44 44);
  background-color: rgb(230 230 230);
  background-size: 0;
  font-family : "font-1", sans-serif;
  box-shadow: 0px 0px 7px 5px #8c68c7;
  padding: 0 0;
  margin: 20px auto;
  position: relative;
  width: 20%;
  top: 30px;
  animation: apparition 0.8s ease-out;
}
@font-face {
	font-family: "font-1";
	src: url(../assets/PassionOne-Bold.ttf);
}
h1 {
	color: rgb(44 44 44);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 6rem;
    font-family: 'font-1', sans-serif;    	
	margin: 25px 130px;
	cursor: pointer;
	animation: apparition 0.8s ease-out;	
}

body{
	background-color: rgb(210, 210, 210);
  
}
.img{
	position: absolute;
	top: 20px;
	left: 20px;
	animation: apparition 0.8s ease-out;
}
#entete{
	background: rgb(230 230 230);
	padding: 10px 0px;
	box-shadow: 0px 0px 20px 4px #8c68c7;
	position: absolute;
	top: 0;
	left: 0;
	height: 125px;
	width: 100%;
	z-index: -1;
	animation: apparition 0.8s ease-out;
}
nav ul{
	list-style-type: none;
}
nav ul li{
	float: left;
}
nav ul li a{
	color:rgb(44 44 44);
	text-decoration: none;
	font-family: 'font-1', sans-serif;
	font-size: 1.5rem;
	display: block;
	margin: 20px;
	animation: apparition 0.8s ease-out;
}
@keyframes apparition {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
.menu{
	position: absolute;
	right: 30px;
	top: 25px;
}
span{
	list-style-type: none;
	height: 160px;
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
}
nav a:hover{
	background-color: #8c68c7bd;
	transition: .2s all;
}
#pied-de-page {
  font-family: Arial;
	text-align: center;
	background: rgb(230 230 230);
	padding: 0px 0px;
	box-shadow: 0px 0px 20px 4px #8c68c7;
	position: absolute;
	width: 100%;
	height: 80px;
	left: 0px;
	top: 955px;
	border-radius: 0 0 0 0;
	z-index: 2;
	animation: apparition 0.8s ease-out;
}