@font-face {
	font-family: "font-1";
	src: url(../assets/font/PassionOne-Bold.ttf);
}
@font-face {
	font-family: "font-2";
	src: url(../assets/font/PassionOne-Regular.ttf);
}
h1{
	color: rgb(44 44 44);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8rem;
    font-family: 'font-1', sans-serif;    	
	margin: -5px 130px;
	animation: apparition 0.8s ease-out;
}
body{
	background-color: rgb(210, 210, 210);
  
}
.img{
	position: absolute;
	top: 20px;
	left: 20px;
	animation: apparition 0.8s ease-out;
}
#entete{
	background: rgb(230 230 230);
	padding: 10px 0px;
	box-shadow: 0px 0px 20px 4px #8c68c7;
	position: absolute;
	top: 0;
	left: 0;
	height: 125px;
	width: 100%;
	z-index: -1;
  list-style-type: none;
	align-items: center;
	justify-content: center;
  display:flex;
	animation: apparition 0.8s ease-out;
}
nav ul{
	list-style-type: none;
}
nav ul li{
	float: left;
}
nav ul li a{
	color:rgb(44 44 44);
	text-decoration: none;
	font-family: 'font-1', sans-serif;
	font-size: 1.5rem;
	display: block;
	margin: 20px;
	animation: apparition 0.8s ease-out;
}
@keyframes apparition {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
.menu{
	position: absolute;
	right: 30px;
	top: 25px;
}

#p{
  font-family: 'font-2', sans-serif; 
  font-size: 1.5em;
  text-align:left;
}
nav a:hover{
	background-color: #8c68c7bd;
	transition: .2s all;
}
main p{
	font-family: Arial, sans-serif;
	text-align: center;
	background: rgb(230 230 230);
	width: 70%;
	margin: 60px auto 60px auto;
	padding: 30px 30px; 
	box-shadow: 0px 0px 20px 4px #8c68c7;
	animation: apparition 0.8s ease-out;
}
#pied-de-page{
  font-family: Arial;
	text-align: center;
	background: rgb(230 230 230);
	padding: 0px 0px;
	box-shadow: 0px 0px 20px 4px #8c68c7;
	position: absolute;
	width: 100%;
	height: 80px;
	left: 0px;
	top: auto;
	border-radius: 0 0 0 0;
	z-index: 2;
  list-style-type: none;
	align-items: center;
	justify-content: center;
  display: flex;
	animation: apparition 0.8s ease-out;
}
button {
  align-items: center;
  border-radius: 10px 10px;
  font-size: 3rem;
  box-shadow: 0px 0px 7px 5px #8c68c7;
}
button:hover {
  background-color: #8c68c7bd;
	transition: .2s all;
}

#popup-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 280px;
  background-color: #0f0d82;
  color: #dbdbdb;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -140px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.popup .hide {
  visibility: hidden;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}